
<div class="options">
    <button ngClass="btn btn-default myButton" (click)="sair()">  Sair</button>  
</div>
<div class="container-fluid">    
    <div class="card-container">
        
        <div class="title">
            <h2>Visitantes</h2>
            <button ngClass="btn btn-success" mat-raised-button (click)="adicionarVisitante()">Adicionar Visitante</button>
        </div>
        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" ngClass="mat-elevation-z8">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef class="column"> Nome </th>
                    <td mat-cell *matCellDef="let element" class="column"> {{ element.nome }} </td>
                </ng-container>
    
                <!-- Chegada Column -->
                <ng-container matColumnDef="chegada">
                    <th mat-header-cell *matHeaderCellDef class="column"> Chegada </th>
                    <td mat-cell *matCellDef="let element" class="column"> {{ element.dataChegadaFormatada }} </td>
                </ng-container>
    
                <!-- Data de Fim Column -->
                <ng-container matColumnDef="dataFim">
                    <th mat-header-cell *matHeaderCellDef class="column"> Data de Fim </th>
                    <td mat-cell *matCellDef="let element" class="column"> {{ element.dataFimFormatada }} </td>
                </ng-container>
    
                <!-- Entrada Column -->
                <ng-container matColumnDef="entrada">
                    <th mat-header-cell *matHeaderCellDef class="column"> Entrada </th>
                    <td mat-cell *matCellDef="let element" class="column"> {{element.entrada}} </td>
                </ng-container>
    
                <ng-container matColumnDef="remover">
                    <th mat-header-cell *matHeaderCellDef class="column"> Remover </th>
                    <td mat-cell *matCellDef="let element" ngClass="column"> 
                        <button ngClass="btn btn-sm btn-default" (click)="deleteVisitante(element.id)">Remover</button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <tr class="mat-row" *matNoDataRow>
                    <td ngClass="mat-cell no-filter" colspan="4" >Você ainda não tem visitantes cadastrados! {{input.value}}</td>
                </tr>
            </table>
        </div>
        
    </div>    
</div>
