

<div class="container-fluid">
    <div class="form-field">
        <div class="subtitulo">
            <p>Unidade:</p>
            <div class="obrigatorio">*</div>
        </div>
        
        <mat-form-field class="input-field">
            <input type="text" class="input" matInput placeholder="numero do apt/casa ex: 103A ou 1001" [(ngModel)]="residenciaObj.unidade">
        </mat-form-field>
    </div>

    <div class="form-field">
        <p>Descrição:</p>
        <mat-form-field ngClass="input-field">
            <input type="text" class="input" matInput placeholder="descricao ex: Casa dos Silva" [(ngModel)]="residenciaObj.descricao">
        </mat-form-field>
    </div>

    <div class="group-buttons">
        <button ngClass="btn btn-sm btn-dark" (click)="cancelar()">Cancelar</button>
        <button ngClass="btn btn-sm btn-success" (click)="cadastrarResidencia(residenciaObj)">Criar</button>
    </div>

</div>