<div class="container-fluid">
  <div class="login-container" *ngIf="loginAuth == false">
    <div class="img-container">
      <img class="img-fluid" src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="login-input">
      <input type="text" id="login" placeholder="Email" [(ngModel)]="loginData.login" />
      <input type="password" id="password" placeholder="Senha" [(ngModel)]="loginData.password" />
    </div>
    <button ngClass="btn btn-sm btn-success btn-default " (click)="login()">Entrar</button>
  </div>

  <div class="adm-card" *ngIf="loginAuth == true">
    <div class="img-container">
      <img class="img-fluid" src="../../assets/logo.png" alt="Logo">
    </div>
    <button ngClass="btn btn-lg btn-success" *ngFor="let button of optionsButton" (click)="visitorList(button)"> {{ button }}</button>
  </div>

</div>
  